---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';
---

<html lang="en">
	<head>
		<MainHead title="404 Not Found" />
		<style>
			.wrapper {
				margin-top: 2em;
				margin-bottom: 2em;
			}
		</style>
	</head>
	<body>
		<Nav />
		<div class="wrapper">
			<h1>4̶0̷4̵ ̴N̷o̷t̸ ̴F̵o̶u̷n̴d̸</h1>
			<p>The requested page clipped to the backrooms...</p>
			<a href="/backrooms/" class="button">Enter...</a>
			<a href="/" class="button">Go back</a>
		</div>
		<Footer />
	</body>
</html>
