---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';
---

<html lang="en">
	<head>
		<MainHead title="About | Bleeping Dragon" description="About Bleeping Dragon" />
		<style>
			.heroImg {
				max-height: 24rem;
				object-fit: cover;
				overflow: hidden;
			}

			.heroImg img {
				width: 100%;
			}

			.bio {
				font-size: var(--f-u1);
				line-height: 2;
				margin-top: 4em;
			}

			.wrapper.bio {
				max-width: 50em;
			}
		</style>
	</head>
	<body>

		<Nav />
		<div class="wrapper">
			<h1>About Bleeping Dragon</h1>

			<div class="heroImg">
				<img width="1400" height="350" src="/assets/BleepindDragon/Background.png" alt="Hero Image"/>
			</div>

			<div class="bio wrapper">

				<h2>✉️ Personal Contact Info</h2>

				<a href="mailto: miguelcanosantana@gmail.com"> Email </a>
				<br>
				<a href="https://micanos.dev" target="_blank"> Personal Page </a>
				<br>
				<a href="https://www.linkedin.com/in/micanosdev/" target="_blank"> Linkedin </a>


				<h2>🐲 What is Bleeping Dragon In simple words</h2>

				<p>
					Bleeping Dragon is a personal label of <a href="https://www.linkedin.com/in/miguel-cano-santana/" target="_blank">Miguel Cano</a> specifically for developing and publishing apps and video games.
				</p>

				<h2>Branding</h2>

				<p>
					I've decided to go with a custom logo that represents the brand needs.
					After all, some works of this brand will be videogames, which might be seems as cheerful and fun whilst other projects are apps, which are more serious.
				</p>

				<p>
					The "Bleeping Dragon" brand allows to express creativity better through a nicer concept.

					<br><br>

					<img src="/assets/About/Inkscape.png" alt="Image of the logo shown in the editing software of Inkscape">

					The darkest purple of the brand represents the majesty of that creature, the lighter shade of pink represents its bliss, the joyful temperament of that mytical creature.
				</p>

			</div>
		</div>
		<Footer/>
	</body>
</html>
