---
// Component Imports
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';
import PortfolioPreview from '../components/GamePreview.astro';
import type { App, Game } from '../types';

const games = (await Astro.glob<Game>('./markdown/games/**/*.md'))
	.filter(({ frontmatter }) => !!frontmatter.publishDate)
	.sort(
		(a, b) =>
			new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf()
	);

	const apps = (await Astro.glob<App>('./markdown/applications/**/*.md'))
	.filter(({ frontmatter }) => !!frontmatter.publishDate)
	.sort(
		(a, b) =>
			new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf()
	);
---

<html lang="en">
	<head>
		<MainHead
			title="Bleeping Dragon"
			description="Learn about Bleeping Dragon"
		/>
		<style>
			.grid {
				display: grid;
				grid-gap: 2rem;
			}
			.title {
				margin-top: 2rem;
				margin-bottom: 2rem;
			}
		</style>
	</head>
	<body>
		<Nav />

		<div class="wrapper">
			<h1 class="title">Games</h1>
			<div class="grid">
				{games.map((project) => <PortfolioPreview project={project} />)}
			</div>
		</div>

		<div class="wrapper">
			<h1 class="title">Apps</h1>
			<div class="grid">
				{apps.map((project) => <PortfolioPreview project={project} />)}
			</div>
		</div>

		<Footer />
	</body>
</html>