---
import type { MarkdownInstance } from 'astro';
import type { PrivacyPolicy } from '../types';

interface Props {
	project: MarkdownInstance<PrivacyPolicy>;
}

const { frontmatter, url } = Astro.props.project;
---


<div class="card">
	<a href={url} class="link">
		{frontmatter.name}
	</a>
</div>

<style>
	.card {
		position: relative;
		color: var(--c-primary-90);
		background: var(--c-tertiary-8);
		border: 2px solid var(--c-primary-25);
		border-radius: 10px;
		overflow: hidden;
		padding: 15px;
	}

	.link {
		font-size: var(--f-u4);
		font-weight: 900;
		text-transform: uppercase;
		letter-spacing: 0.0625em;
	}


</style>
